/* ---------------- IMPORTED FONTS ---------------- */
@font-face {
  font-family: 'RedHatMono';
  font-weight: 300;
  src: url(./fonts/RedHatMono-Light.ttf) format('truetype');
}

/* ---------------- DEFAULT VALUES ---------------- */
:root {
  --blue-dark: #0A122A;
  --white: #FBFAF8;
  --grey: #E7DECD;
  --grey-dark: #bdb19b;
  --green: #698F3F;
  --green-dark: #3f532a;
  --yellow: #d4b413;
  --red: #d44133;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'RedHatMono', Verdana, sans-serif;
  font-size: 1.5rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(136, 119, 119);
}
button {
  cursor: pointer;
  border: 3px outset;
  border-radius: 5px;
  padding: 12px;
}
.calculator-body {
  min-width: 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
  word-wrap: break-word;
  border-right: 6px outset;
  border-bottom: 6px outset;
  background-color: var(--grey);
}
.screen {
  padding: 20px;
  border: 3px inset;
  text-align: right;
  color: var(--white);
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: var(--green);
}
.screen.off {
  background-color: var(--green-dark);
}
.current::after {
  content: '|';
  margin-right: -9px;
  font-size: 2rem;
  animation: blink 1s step-start infinite;
}
@keyframes blink {
  20% { opacity: 0; }
}
.off::after {
  content: '';
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 9px;
  padding: 0 0 12px 3px;
}
h1 {
  font-size: 1.5rem;
  color: var(--grey-dark);
}
h1:hover {
  color: #726d64;
}
.button-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.dark-mode, .button {
  font-family: 'RedHatMono', Verdana, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--grey);
}
.button:active {
  border: 2px inset;
}
.zero {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: left;
  padding-left: 25px;
}

/* ---------------- DARK MODE ---------------- */
.dark-mode > img {
  width: 33px;
  height: auto;
  vertical-align: middle;
}
.change-icon-color {
  filter: invert(97%) sepia(7%) saturate(702%) hue-rotate(334deg) brightness(95%) contrast(91%);
}
.dark-body {
  background-color: rgb(51, 45, 45);
}
.dark-calculator {
  background-color: #13151b;
}
.dark-button {
  color: var(--white);
  background-color: #13151b;
  border: 3px outset #343947;
}

/* ---------------- EXCEPTION STYLE BUTTONS ---------------- */
.switchOnOff {
  width: 80px;
  font-family: 'RedHatMono';
  background-color: var(--red);
  color: var(--white)
}
.switchOnOff:active {
  border: 2px inset;
}
.clear {
  text-align: left;
  padding-left: 25px;
  color: var(--white);
  background-color: var(--yellow);
}

/* ---------------- MEDIA QUERIES ---------------- */
@media screen and (max-width: 480px) {
  .calculator-body {
    width: 100vw;
    height: 100vh;
  }
}
